a {
  text-decoration: none;
}

#cover {
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

#cover h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 56px;
  color: #000000;
}

#cover h2 {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 400;
}

#cover .btn-new-task {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #ffffff;
  background: #00509d; /* rgba(0, 48, 73, 0.9);*/
}

#cover .btn-new-task:hover {
  background: #669bbc;
}

#cover .animated {
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #cover {
    height: 100vh;
    text-align: center;
  }
  #cover .animated {
    -webkit-animation: none;
    animation: none;
  }
  #cover .cover-img {
    text-align: center;
  }
  #cover .cover-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #cover h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #cover h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #cover .cover-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #cover .cover-img img {
    width: 80%;
  }
  #cover .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
