<div id="cover" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Find all that you can't <br> remember here</h1>
                <h2>Track your duties before you forget them!</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a routerLink='/task/add' routerLinkActive="router-link-active" class="btn-new-task">New task</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 cover-img aos-init aos-animate" data-aos="zoom-in"
                data-aos-delay="200">
                <img src="../../assets/images/home/tasks-1.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</div>